.timer{
    font-family: var(--font-mono);
    font-size: 3rem;
    font-weight: 700;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
}